<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Binance supertrend Bot</title>
	<!-- get the plotly library from cdn -->
	  <script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>

	  <!-- get the ccxt from cdn -->
	  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/ccxt@2.6.36/dist/ccxt.browser.min.js"></script>
	  
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'configuration_page.css')}}">

</head>
<body>

	<div class="user-data">
		<span class="key">{{apiKey}}</span>
		<span class="secret">{{apiSecret}}</span>
	</div>

	<div class="menu">
		<h3>Tradding configuration: </h3>

		<!-- add span dinamically for each coin  in users balance.-->
		<div class="user-assets">
		{% for coin in userBalance %}
			<div class="asset">
				<span>{{coin[0]}}</span>
				<span>{{coin[1]}}</span>
			</div>

		{% endfor %}
		</div>

		<div class="markets">
			<h3>Select market to operate:</h3>

			<select class="combo">
				<option value="Select">Select....</option>
				{% for market in markets %}
				<option value={{market}}>{{market}}</option>
				{% endfor %}
			</select>
				
		</div>

		<div class="trading-amount-container">

			<label for="trading-amount">insert the amount to trade:</label>
			<input class = "trading-amount-class"type="text" name="trading-amount" />

		</div>
		<div class="btn-container">
			<button class="start-tradding-btn disabled">Start Tradding</button>
			<button class="stop-tradding-btn disabled">Stop</button>
		</div>


<!-- 		{% if name %}
  		<h1>Hello {{ name }}!</h1>
		{% else %}
		  <h1>Hello, World!</h1>
		{% endif %}
 -->

 <!-- <button class="btn">show keys.</button> -->
	</div>

	<div class="image-container">
		
	</div>

	<footer class="footer">
		<a href="/">return to main Page</a>
	</footer>

<script src="{{url_for('static',filename = 'configuration_page.js')}}"></script>
</body>
</html>