<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Binance supertrend Bot</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'error_page.css')}}">

</head>
<body>
	<div class="main-container">
		<h1> oops.... something has gone wrong !!!</h1>
		<a href="/">Return to homepage </a>

	</div>
<script src="{{url_for('static',filename = 'configuration_page.js')}}"></script>
</body>
</html>