<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Binance supertrend Bot</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename = 'main.css')}}">
</head>
<body>

	<nav class="menu-bar">
		<h2 class="main-title">BINANCE SUPERTREND BOT</h2>
	</nav>

	<div class="main-container">
		<div class="input-container">
			<form action = "/" method = "POST">
				<label class="label" for="apikey"> API Key: </label>
				<input class="user-input" type="text" name="apikey">
				<label class="label" for="secret">API Secret:  </label>
				<input class="user-input" type="text" name="secret">
				<input class = "submit-btn" type="submit" name="submit_button" value="CONTINUE">
			</form>
		</div>

	</div>
<script src="{{url_for('static',filename = 'main.js')}}"></script>
</body>
</html>